<%- include('includes/head.ejs') %>

<title><%= title %></title>
<link rel="stylesheet" href="/css/shop.css">

<%- include('includes/navigation.ejs') %>

<h1>Items</h1>

<div class="shop-container">
    <% if (items.length > 0) { %>
        <ul>
            <% for (let item of items) { %>
                <li><%= item.name + ' ' + item.price %></li>
            <% } %>
        </ul>
    <% } %>
</div>

<%- include('includes/end.ejs') %>